/*
Author: Matthias Oberholzer
Multimedia Project 1 - Web
Salzburg University of Applied Sciences
*/
@font-face {
  font-family: 'Blatant';
  src: url('/fonts/Blatant.woff2') format('woff2'),
    url('/fonts/Blatant.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
